body { margin: 0; padding: 0px; font-family: sans-serif; }
canvas { width: 100%; height: 100%; }

#form {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background: black;
  align-items: center;
  justify-items: center;
}

#form.go-away {

}

@keyframes go-away {
  0% { 
    top: 0px;
    opacity: 1;
  }
  100%  { 
    top: -2000px;
    opacity: 0;
  }
}

.go-away {
  opacity: 1;
  animation:
    go-away 2.5s ease-out 0s
    normal 1 none running;
  animation-fill-mode: forwards;
}

#id-form {
  display: block;
  flex: none;
  max-width: 300px;
  margin: 0 auto;
}

#id-form input {
  display: block;
  flex: none;
  max-width: 500px;
  font-size: 16px;
  padding: 10px 2px;
  color: lightgrey;
  background-color: rgba(0,0,0,0);
  border: 0px;
  border-bottom: 2px white solid;
  opacity: 0.6;
  text-align: center;

  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

#id-form input:focus {
  opacity: 1;

  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

#submit-button {
  display: block;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 800;
  padding: 17px 20px;
  color: white;
  background-color: rgba(0,0,0,0);
  border: 0px;
  text-align: center;
}

#submit-button::after {
  content: " >>";
  font-size: 10px;
  padding-left: 5px;
  opacity: 0.7;

  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

@keyframes blink {
  0%   { opacity: 0.6; }
  50%  { opacity:   1; }
  100% { opacity: 0.6; }
}

#submit-button:hover::after {
  opacity: 1;
  animation:
    blink 1.5s ease-out 0s
    alternate infinite none running;

  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
